.header{
    display: flex;
    background-color: rgb(148, 102, 171);
    width: 100vw;
}
/* h1{
    margin-right:150vh;
}
.topleft{
    margin-left:15px;
}
.topright{
    margin-right:15px;
} */

.icon {
    display: flex;
    width: 100vw;
    font-family:'Courier New', Courier, monospace;
    justify-content:space-around
}
.topright{
    font-family: 'Times New Roman', Times, serif;
} 
